@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.i-card {
  margin: 10px;
  padding-bottom: 60px;
}
.i-card-image {
  border-radius: 10px;
  width: 300px;
  height: 360px;
  box-shadow: 0 0 3px 1px #ccc;
  object-fit:cover;

}

.i-card-title {
  font-size: 24px;
  margin: 0;
}

.i-card-info {
  margin-top: 10px;
  min-height: 100px;
  word-wrap: break-word;
}

.i-card-subtitle {
  font-size: 16px;
  margin: 0;
  word-wrap: break-word;
  white-space: initial;
}
.i-font {
  font-family: 'STIX Two Math', serif;
}

@media screen and (max-width: 480px){
  .about-font {
    font-size:16px;
  }

  .me-image {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit:cover;
    margin: 50px 50px 50px 70px;

  }
  .about-card {
    padding: 10px;
    margin: 2px;
  }
}
@media screen and (min-width: 481px){
  .about-font {
    font-size:30px;
  }

  .me-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit:cover;
    margin: 50px 50px 50px 80px;
  }

  .about-card {
    padding: 10px;
    margin-top: 50px;
    margin-right: 200px;
  }
}

